@using EmailMaker.Controllers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/knockout-1.1.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/underscore-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/emailmaker.jquery.extensions.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/emailmaker.utilities.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                 <h1>EmailMaker - email marketing system</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div> 
            <nav>
                <ul id="menu">
                    <li><a href="@(Html.BuildUrlFromExpressionWithoutParameters<HomeController>(a => a.Index()))">Home</a></li>
@*                    <li><a href="@(Html.BuildUrlFromExpressionWithoutParameters<HomeController>(a => a.About()))">About</a></li>*@
                    <li><a href="@(Html.BuildUrlFromExpressionWithoutParameters<EmailController>(a => a.Index()))">Send email</a></li>
                    <li><a href="@(Html.BuildUrlFromExpressionWithoutParameters<TemplateController>(a => a.Index()))">Manage templates</a></li>
                    
                </ul>
                <br clear="all" />
            </nav>
           
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
